.container {
    position: fixed;
    display: grid;
    place-items: center;
    width: 100%;
    z-index: 5;
    height: 40%;
    top: 50%;
}

.item-logo {
    margin: 20px;
    min-width: 100px;
    min-height: 100px;
}
